"*":
  core:
    disabledPackages: [
      "wrap-guide"
    ]
    telemetryConsent: "no"
    themes: [
      "g-dark-purple-ui"
      "g-dark-purple-syntax"
    ]
  editor:
    fontSize: 15
    softWrap: true
  "exception-reporting":
    userId: "844b8987-3a56-4c67-a2d6-aa9c4bb7f41b"
  welcome:
    showOnStartup: false
